@import './components/header';
@import './components/newslist';
@import './components/selectednewssingle';
@import './components/slider';
@import './components/search';
@import './components/notfound';

* { outline: none; box-sizing: border-box; }
html { font-family: Arial, Helvetica, sans-serif, sans-serif; }
body { margin: 0; }
